# Arquivos ignorados por padrão
/shelf/
/workspace.xml
# Arquivos ignorados do Rider
/.idea.ApiOwn.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Solicitações do HTTP Client com base no editor
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
